<configuration>

    <property name="pattern" value="%date{yyyy-MM-dd HH:mm:ss} %5level [%thread] %class{30} %line %X{traceId} %msg%n"/>

    <appender name="STD_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    
    <root level="DEBUG">
        <appender-ref ref="STD_OUT"/>
    </root>

</configuration>